# Node modules
node_modules/
frontend/node_modules/

# Python virtual environment
backend/venv/

# Firebase / Google credentials
backend/serviceAccountKey.json

# Python cache
__pycache__/

# Build/output files
dist/
build/

# OS-specific files
.DS_Store
Thumbs.db
