.app {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  background-color: var(--primary-bg);
}

.main-content {
  flex: 1;
}

@media (max-width: 768px) {
  .main-content {
    padding-top: 0;
  }
}

